.loading-overlay {
	position: fixed;
	/* Ocupa toda la pantalla */
	top: 242px;
	left: 0;
	width: 100vw;
	height: calc(100% - 306px);
	background-color: #1e1e1e;
	/* Fondo negro */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	/* Asegúrate de que esté por encima de todo */
}

.search-container {
	background-color: #1e1e1e;
	min-height: calc(100vh - 128px);
	font-family: "Fira Code", monospace;
}

h1.mat-headline-2 {
	font-family: "Fira Code", monospace;
	font-weight: bold;
	color: white;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.search-bar {
	text-align: center;
}

.search-form {
	width: 500px;
}

.grid {
	max-width: 2000px;
	width:78%;
	margin-left: auto;
	margin-right: auto;
}